<div class="profile-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
    
    <div class="field">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, placeholder: "Enter Phone Number" %>
    </div>
    
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, placeholder: "Enter Address" %>
    </div>
    
    <div class="field">
      <%= f.label :pincode %>
      <%= f.text_field :pincode, placeholder: "Enter Pincode" %>
    </div>
    
    <div class="field">
      <%= f.label :latest_degree %>
      <%= f.text_field :latest_degree, placeholder: "Enter Latest Degree" %>
    </div>

    <div class="field">
      <%= f.label :password %> (leave blank if you don't want to change it)
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> (we need your current password to confirm changes)
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update Profile", class: 'btn btn-update' %>

      <%= link_to "Cancel my account", registration_path(resource_name), data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: 'btn btn-danger' %>
    </div>  
  <% end %>
</div>
