<div class="container">
    <nav class="nav">
    <div class="nav-container">
        <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Courses', courses_path %></li>

           <% if user_signed_in? %>
                <% if current_user.role == 'admin' %>
                    <li>Manage Users</li>
                    <li>Manage Courses</li>
                    <li>Manage Batches</li>
                    <li>System Settings</li>
                
                <% elsif current_user.role == 'trainer' %>
                    <li><%= link_to 'My Courses', my_courses_path %></li>
                    <li><%= link_to "Create Course", new_course_path %></li>
                    
                    <% if @trainer_courses.any? %>
                        <li><%= link_to "Manage Trainees", manage_all_trainees_path(course) %></li>
                    <% end %>

                    <li><%= link_to "Profile", edit_user_registration_path  %></li>

                <% elsif current_user.role == 'trainee' %>
                    <li><%= link_to "Profile", edit_user_registration_path %></li>
                <% end %>
            <% end %>

        </ul>

        <div class="btns-container">
            <% if user_signed_in? %>
                <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn nav-log-btn" %>
            <% else %>
                <%= link_to 'Sign up', new_user_registration_path, class: "btn nav-sign-btn" %>
                <%= link_to 'Log in', new_user_session_path, class: "btn nav-log-btn" %>
            <% end %>
        </div>
    </div>
    </nav>
</div>