<div class="task-container">
    <%= form_with(model: @task, url: batch_tasks_path(@batch), local: true, data: { turbo: false }) do |form| %>
        <div>
            <%= form.label :name, "Task Name" %>
            <%= form.text_field :name %>
        </div>

        <div>
            <%= form.label :description, "Task Description" %>
            <%= form.text_area :description %>
        </div>

        <div>
            <%= form.label :deadline, "Deadline" %>
            <%= form.datetime_select :deadline %>
        </div>

        <div>
            <%= form.label :status, "Status" %>
            <%= form.select :status, options_for_select([['Pending', 0], ['In Progress', 1], ['Completed', 2]]), {}, class: 'role-dropdown' %>
        </div>
        
        <%= hidden_field_tag('task[user_id]', params[:trainee_id]) %>
        <%= hidden_field_tag('task[trainer_id]', @batch.user.id) %>
        
        <div>
            <%= form.submit "Assign Task" %>
        </div>
    <% end %>
</div>