<div class="trainees-container">
  <h1>Manage Trainees for All Courses</h1>

<% if @courses.any? %>
  <% @courses.each do |course| %>
    <h2 class="manage-course-title"><%= course.name %></h2>
    <% if course.trainees.any? %>
      <table class="content-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% course.trainees.each do |trainee| %>
            <tr>
              <td><%= trainee.first_name %> <%= trainee.last_name %></td>
              <td><%= trainee.email %></td>
              <td>
                <%= button_to 'Remove Trainee', remove_trainee_course_path(course, trainee_id: trainee.id), method: :delete, data: { turbo_confirm: 'Are you sure you want to remove this trainee?' }, class: "btn" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No trainees enrolled in this course yet.</p>
    <% end %>
  <% end %>
<% else %>
  <p>No courses found.</p>
<% end %>

</div>
