<section class="course-details">
  <div class="course-header">
    <div class="course-image">
        <%= image_tag @course.image, alt: @course.name, class: "course-img" %>
    </div>

    <div class="course-info">
        <h1 class="course-title"><%= @course.name %></h1>
        <p class="course-category">Category: <%= @course.category %></p>
        <div class="course-meta">
            <div>
                Difficulty&nbsp;&nbsp;<span class="course-level highlight-text"><%= @course.level %></span>
            </div>
            <div>
                Duration&nbsp;&nbsp;<span class="course-duration-single highlight-text"><%= @course.duration %> Hours</span>
            </div>
        </div>
        <div class="course-dates">
            <p><strong>Start Date:</strong> <%= @course.start_date.strftime('%B %d, %Y') %></p>
            <p><strong>End Date:</strong> <%= @course.end_date.strftime('%B %d, %Y') %></p>
        </div>
    </div>
  </div>

  <div class="course-body">
    <div class="description">
        <h2>Description</h2>
        <p class="course-description"><%= @course.description %></p>
    </div>
    <div class="prerequisite">
        <h2>Prerequisites</h2>
        <p class="course-prerequisites"><%= @course.prerequisites %></p>
    </div>
  </div>

  <div class="course-footer">
    <% if current_user.trainee? %>
      <% if current_user.enrolled_courses.include?(@course) %>
        <%= button_to 'Unenroll', unenroll_course_path(@course), method: :delete, data: { turbo_confirm: 'Are you sure you want to unenroll?' }, class: "btn btn-danger" %>
      <% else %>
        <%= button_to 'Enroll', enroll_course_path(@course), method: :post, class: "btn btn-primary" %>
      <% end %>
    <% end %>

    
    <% if current_user.trainer? %>
      <%= link_to "Update Course", edit_course_path(@course), class: 'btn btn-primary' %>
    <% end %>
  </div>
</section>

<div class="comment-section-container">
  <h2>Discussion (<%= @course.comments.length %>)</h2>

  <%= form_with(model: [@course, @comment], local: true) do |f| %>
    <div class="form-group">
      <%= f.text_area :body, rows: 5, class: "form-control" %>
    </div>
    <%= f.submit "Post Comment", class: "btn btn-comment" %>
  <% end %>

  <div class="comments-section">
    <%= render @course.comments.where(parent_id: nil) %>
  </div>
</div>
