<div class="batch-container">
  <div class="batch-show-info">
    <div>
      <h2>Batch Information</h2>
      <p><strong>Name:</strong> <%= @batch.name %></p>
      <p><strong>Course:</strong> <%= @batch.course.name %></p>
      <p><strong>Description:</strong> <%= @batch.description %></p>
      <p><strong>Start Date:</strong> <%= @batch.start_date %></p>
      <p><strong>End Date:</strong> <%= @batch.end_date %></p>
    </div>

    <div class="batches-data">
      <h2>Add Trainees</h2>
      <%= form_with(model: @batch, url: add_trainee_batch_path(@batch), method: :post, local: true) do |form| %>
        <%= form.label :trainee_ids, "Select Trainees to Add to Batch" %>
        
        <%= form.select :trainee_ids, options_for_select([["Select options", "", { disabled: true, selected: true }]] + @trainees.map { |t| [t.first_name, t.id] }), {}, class: "role-dropdown" %>
        
        <%= form.submit "Add Trainees", class: "btn batches-btn" %>
      <% end %>
    </div>


    <div class="all-trainees">
      <h3 class="trainee-title">All Trainees</h3>
      <% @batch.users.show_trainees.each do |trainee| %>
        <div class="trainee-info">
          <p><%= trainee.full_name %></p>
          <%= link_to 'Assign Task', new_batch_task_path(@batch, {trainee_id: trainee.id}), class: 'btn btn-enroll' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
